
html{
	padding: 0;
	margin: 0;
	background-color: gray;
}

body{
	overscroll-behavior: none;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(100,200,255);
	overflow: hidden;
}

img{
	position: absolute;
	/* position: fixed; */
	display: block;
	image-rendering: pixelated;
	/* clip: rect(0px 16px 16px 0px); */
	/* clip-path: inset(0px 144px 144px 0px); */
	-webkit-user-drag: none;
}

#main{
	width: 100%;
	height: 100%;
	/* width: 100vw; */
	/* height: 100vh; */
	position: absolute;
	display: block;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

/* .shadowblock::after{
	content: url('img/filter_black.png');
	color: black;
	position:absolute;
	display: block;
	width:100%;
	z-index: 1000000;
	clip-path: polygon(0% 100%, 6.25% 93.75%, 93.75% 93.75%, 100% 100%);
} */

/* .testblock{
	display: block;
	position: relative;
	background-color: black;
	box-shadow: 5px 5px #58be89;
} */